parameters:
	ignoreErrors:
		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\CharacterAssetsHydrateBatch not found\\.$#"
			count: 1
			path: config/web.jobs.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\ContactHydrateBatch not found\\.$#"
			count: 1
			path: config/web.jobs.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\ContractHydrateBatch not found\\.$#"
			count: 1
			path: config/web.jobs.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\MailsHydrateBatch not found\\.$#"
			count: 1
			path: config/web.jobs.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\SkillsHydrateBatch not found\\.$#"
			count: 1
			path: config/web.jobs.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\WalletHydrateBatch not found\\.$#"
			count: 1
			path: config/web.jobs.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Corporation\\\\CorporationMemberTrackingHydrateBatch not found\\.$#"
			count: 1
			path: config/web.jobs.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Corporation\\\\CorporationWalletHydrateBatch not found\\.$#"
			count: 1
			path: config/web.jobs.php

		-
			message: "#^Called 'isNotEmpty' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: src/Console/Commands/AssignSuperuser.php

		-
			message: "#^Method Seatplus\\\\Web\\\\Console\\\\Commands\\\\AssignSuperuser\\:\\:createRole\\(\\) should return Seatplus\\\\Auth\\\\Models\\\\Permissions\\\\Role but returns Spatie\\\\Permission\\\\Contracts\\\\Role\\.$#"
			count: 1
			path: src/Console/Commands/AssignSuperuser.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Contacts\\\\AllianceContactJob constructor invoked with 1 parameter, 2 required\\.$#"
			count: 1
			path: src/Contracts/WebJobsRepository.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Contacts\\\\AllianceContactLabelJob constructor invoked with 1 parameter, 2 required\\.$#"
			count: 1
			path: src/Contracts/WebJobsRepository.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Contacts\\\\CorporationContactJob constructor invoked with 1 parameter, 2 required\\.$#"
			count: 1
			path: src/Contracts/WebJobsRepository.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Contacts\\\\CorporationContactLabelJob constructor invoked with 1 parameter, 2 required\\.$#"
			count: 1
			path: src/Contracts/WebJobsRepository.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\HttpFoundation\\\\Response\\:\\:status\\(\\)\\.$#"
			count: 4
			path: src/Exception/Handler.php

		-
			message: "#^PHPDoc type array of property Seatplus\\\\Web\\\\Exception\\\\Handler\\:\\:\\$dontFlash is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Exceptions\\\\Handler\\:\\:\\$dontFlash\\.$#"
			count: 1
			path: src/Exception/Handler.php

		-
			message: "#^PHPDoc type array of property Seatplus\\\\Web\\\\Exception\\\\Handler\\:\\:\\$dontReport is not covariant with PHPDoc type array\\<int, class\\-string\\<Throwable\\>\\> of overridden property Illuminate\\\\Foundation\\\\Exceptions\\\\Handler\\:\\:\\$dontReport\\.$#"
			count: 1
			path: src/Exception/Handler.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Pagination\\\\LengthAwarePaginator\\:\\:getCollection\\(\\)\\.$#"
			count: 1
			path: src/Http/Actions/Character/Asset/GetCharacterAssetLocationAction.php

		-
			message: "#^Match expression does not handle remaining value\\: string$#"
			count: 1
			path: src/Http/Actions/Corporation/Recruitment/UpdateWatchlistAction.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Eveapi\\\\Models\\\\Universe\\\\Region\\:\\:\\$id\\.$#"
			count: 1
			path: src/Http/Actions/Corporation/Recruitment/WatchedArrayAction.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Eveapi\\\\Models\\\\Universe\\\\System\\:\\:\\$id\\.$#"
			count: 1
			path: src/Http/Actions/Corporation/Recruitment/WatchedArrayAction.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 5
			path: src/Http/Actions/Corporation/Recruitment/WatchedArrayAction.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Seatplus\\\\Eveapi\\\\Models\\\\Universe\\\\Category\\>\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/Http/Actions/Corporation/Recruitment/WatchlistArrayAction.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Seatplus\\\\Eveapi\\\\Models\\\\Universe\\\\Group\\>\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/Http/Actions/Corporation/Recruitment/WatchlistArrayAction.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Seatplus\\\\Eveapi\\\\Models\\\\Universe\\\\Region\\>\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/Http/Actions/Corporation/Recruitment/WatchlistArrayAction.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Seatplus\\\\Eveapi\\\\Models\\\\Universe\\\\System\\>\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/Http/Actions/Corporation/Recruitment/WatchlistArrayAction.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Seatplus\\\\Eveapi\\\\Models\\\\Universe\\\\Type\\>\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/Http/Actions/Corporation/Recruitment/WatchlistArrayAction.php

		-
			message: "#^Access to an undefined property Spatie\\\\Permission\\\\Contracts\\\\Role\\:\\:\\$affiliations\\.$#"
			count: 1
			path: src/Http/Controllers/AccessControl/ControlGroupsController.php

		-
			message: "#^Match expression does not handle remaining values\\: 'automatic'\\|'manual'$#"
			count: 1
			path: src/Http/Controllers/AccessControl/JoinControlGroupController.php

		-
			message: "#^Match expression does not handle remaining values\\: 'automatic'\\|'manual'$#"
			count: 1
			path: src/Http/Controllers/AccessControl/LeaveControlGroupController.php

		-
			message: "#^Call to an undefined method Seatplus\\\\Auth\\\\Services\\\\Roles\\\\RoleServiceInterface\\:\\:setRoleType\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/AccessControl/UpdateControlGroupController.php

		-
			message: "#^Called 'first' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: src/Http/Controllers/Corporation/MemberCompliance/MemberComplianceController.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Eveapi\\\\Models\\\\Corporation\\\\CorporationInfo\\:\\:\\$alliance_scopes\\.$#"
			count: 1
			path: src/Http/Controllers/Corporation/MemberTracking/MemberTrackingController.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Eveapi\\\\Models\\\\Corporation\\\\CorporationInfo\\:\\:\\$corporation_scopes\\.$#"
			count: 1
			path: src/Http/Controllers/Corporation/MemberTracking/MemberTrackingController.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Eveapi\\\\Models\\\\Corporation\\\\CorporationInfo\\:\\:\\$required_scopes\\.$#"
			count: 1
			path: src/Http/Controllers/Corporation/MemberTracking/MemberTrackingController.php

		-
			message: "#^Match expression does not handle remaining value\\: string$#"
			count: 2
			path: src/Http/Controllers/Corporation/Recruitment/ApplicationsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$main_character\\.$#"
			count: 1
			path: src/Http/Controllers/Corporation/Recruitment/ImpersonateRecruit.php

		-
			message: "#^Match expression does not handle remaining value\\: string$#"
			count: 1
			path: src/Http/Controllers/HomeController.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Eveapi\\\\Models\\\\Universe\\\\Category\\:\\:\\$category\\.$#"
			count: 3
			path: src/Http/Controllers/Shared/HelperController.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Eveapi\\\\Models\\\\Universe\\\\Category\\:\\:\\$id\\.$#"
			count: 2
			path: src/Http/Controllers/Shared/HelperController.php

		-
			message: "#^Match expression does not handle remaining value\\: mixed$#"
			count: 2
			path: src/Http/Controllers/Shared/HelperController.php

		-
			message: "#^Method Seatplus\\\\Web\\\\Http\\\\Middleware\\\\CheckRequiredScopes\\:\\:redirectTo\\(\\) should return Symfony\\\\Component\\\\HttpFoundation\\\\Response but returns Inertia\\\\Response\\.$#"
			count: 1
			path: src/Http/Middleware/CheckRequiredScopes.php

		-
			message: "#^PHPDoc tag @throws with type Seatplus\\\\Web\\\\Exceptions\\\\SettingException is not subtype of Throwable$#"
			count: 1
			path: src/Http/Middleware/Locale.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ApplicationRessource\\:\\:\\$applicationable\\.$#"
			count: 5
			path: src/Http/Resources/ApplicationRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ApplicationRessource\\:\\:\\$applicationable_type\\.$#"
			count: 1
			path: src/Http/Resources/ApplicationRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ApplicationRessource\\:\\:\\$decision_count\\.$#"
			count: 1
			path: src/Http/Resources/ApplicationRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ApplicationRessource\\:\\:\\$id\\.$#"
			count: 1
			path: src/Http/Resources/ApplicationRessource.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Request\\)\\: Unexpected token \"\\\\n     \", expected variable at offset 78$#"
			count: 1
			path: src/Http/Resources/ApplicationRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$assetable_id\\.$#"
			count: 2
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$is_blueprint_copy\\.$#"
			count: 1
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$is_singleton\\.$#"
			count: 1
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$item_id\\.$#"
			count: 2
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$location_flag\\.$#"
			count: 1
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$location_id\\.$#"
			count: 1
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$name\\.$#"
			count: 1
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$quantity\\.$#"
			count: 2
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$type\\.$#"
			count: 1
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\AssetResource\\:\\:\\$type_id\\.$#"
			count: 1
			path: src/Http/Resources/AssetResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\CharacterInfoRessource\\:\\:\\$character_id\\.$#"
			count: 3
			path: src/Http/Resources/CharacterInfoRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\CharacterInfoRessource\\:\\:\\$name\\.$#"
			count: 1
			path: src/Http/Resources/CharacterInfoRessource.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Request\\)\\: Unexpected token \"\\\\n     \", expected variable at offset 78$#"
			count: 1
			path: src/Http/Resources/CharacterInfoRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContactResource\\:\\:\\$affiliation\\.$#"
			count: 2
			path: src/Http/Resources/ContactResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContactResource\\:\\:\\$contact_id\\.$#"
			count: 1
			path: src/Http/Resources/ContactResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContactResource\\:\\:\\$contact_type\\.$#"
			count: 1
			path: src/Http/Resources/ContactResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContactResource\\:\\:\\$is_blocked\\.$#"
			count: 1
			path: src/Http/Resources/ContactResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContactResource\\:\\:\\$is_watched\\.$#"
			count: 1
			path: src/Http/Resources/ContactResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContactResource\\:\\:\\$labels\\.$#"
			count: 1
			path: src/Http/Resources/ContactResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContactResource\\:\\:\\$standing\\.$#"
			count: 1
			path: src/Http/Resources/ContactResource.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Request\\)\\: Unexpected token \"\\\\n     \", expected variable at offset 78$#"
			count: 1
			path: src/Http/Resources/ContactResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$acceptor_id\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$assignee_id\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$collateral\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$contract_id\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$end_location\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$for_corporation\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$issuer_corporation_id\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$issuer_id\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$items\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$price\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$reward\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$start_location\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$status\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$title\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$type\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\ContractRessource\\:\\:\\$volume\\.$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Request\\)\\: Unexpected token \"\\\\n     \", expected variable at offset 78$#"
			count: 1
			path: src/Http/Resources/ContractRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\CorporationComplianceResource\\:\\:\\$characters\\.$#"
			count: 1
			path: src/Http/Resources/CorporationComplianceResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\CorporationComplianceResource\\:\\:\\$id\\.$#"
			count: 1
			path: src/Http/Resources/CorporationComplianceResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\CorporationComplianceResource\\:\\:\\$main_character\\.$#"
			count: 1
			path: src/Http/Resources/CorporationComplianceResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\CorporationInfoRessource\\:\\:\\$alliance\\.$#"
			count: 1
			path: src/Http/Resources/CorporationInfoRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\CorporationInfoRessource\\:\\:\\$corporation_id\\.$#"
			count: 2
			path: src/Http/Resources/CorporationInfoRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\CorporationInfoRessource\\:\\:\\$name\\.$#"
			count: 1
			path: src/Http/Resources/CorporationInfoRessource.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Request\\)\\: Unexpected token \"\\\\n     \", expected variable at offset 78$#"
			count: 1
			path: src/Http/Resources/CorporationInfoRessource.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$quantity\\.$#"
			count: 1
			path: src/Http/Resources/LocationRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\LocationRessource\\:\\:\\$assets\\.$#"
			count: 1
			path: src/Http/Resources/LocationRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\LocationRessource\\:\\:\\$locatable\\.$#"
			count: 3
			path: src/Http/Resources/LocationRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\LocationRessource\\:\\:\\$location_id\\.$#"
			count: 2
			path: src/Http/Resources/LocationRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\MemberTrackingResource\\:\\:\\$character_id\\.$#"
			count: 1
			path: src/Http/Resources/MemberTrackingResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\MemberTrackingResource\\:\\:\\$corporation_id\\.$#"
			count: 1
			path: src/Http/Resources/MemberTrackingResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\MemberTrackingResource\\:\\:\\$location\\.$#"
			count: 1
			path: src/Http/Resources/MemberTrackingResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\MemberTrackingResource\\:\\:\\$location_id\\.$#"
			count: 1
			path: src/Http/Resources/MemberTrackingResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\MemberTrackingResource\\:\\:\\$logon_date\\.$#"
			count: 1
			path: src/Http/Resources/MemberTrackingResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\MemberTrackingResource\\:\\:\\$ship_type_id\\.$#"
			count: 1
			path: src/Http/Resources/MemberTrackingResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\MemberTrackingResource\\:\\:\\$start_date\\.$#"
			count: 1
			path: src/Http/Resources/MemberTrackingResource.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Request\\)\\: Unexpected token \"\\\\n     \", expected variable at offset 78$#"
			count: 1
			path: src/Http/Resources/MemberTrackingResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\RoleRessource\\:\\:\\$id\\.$#"
			count: 1
			path: src/Http/Resources/RoleRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\RoleRessource\\:\\:\\$name\\.$#"
			count: 1
			path: src/Http/Resources/RoleRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\RoleRessource\\:\\:\\$type\\.$#"
			count: 2
			path: src/Http/Resources/RoleRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\RoleRessource\\:\\:\\$users\\.$#"
			count: 1
			path: src/Http/Resources/RoleRessource.php

		-
			message: "#^Call to an undefined method Seatplus\\\\Web\\\\Http\\\\Resources\\\\RoleRessource\\:\\:role_memberships\\(\\)\\.$#"
			count: 1
			path: src/Http/Resources/RoleRessource.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Request\\)\\: Unexpected token \"\\\\n     \", expected variable at offset 78$#"
			count: 1
			path: src/Http/Resources/RoleRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\Universe\\\\GroupResource\\:\\:\\$name\\.$#"
			count: 1
			path: src/Http/Resources/Universe/GroupResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\Universe\\\\TypeResource\\:\\:\\$name\\.$#"
			count: 1
			path: src/Http/Resources/Universe/TypeResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\Universe\\\\TypeResource\\:\\:\\$type_id\\.$#"
			count: 1
			path: src/Http/Resources/Universe/TypeResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\Universe\\\\TypeResource\\:\\:\\$volume\\.$#"
			count: 1
			path: src/Http/Resources/Universe/TypeResource.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Http/Resources/Universe/TypeResource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\UserRessource\\:\\:\\$characters\\.$#"
			count: 1
			path: src/Http/Resources/UserRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\UserRessource\\:\\:\\$id\\.$#"
			count: 1
			path: src/Http/Resources/UserRessource.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Web\\\\Http\\\\Resources\\\\UserRessource\\:\\:\\$main_character\\.$#"
			count: 1
			path: src/Http/Resources/UserRessource.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Request\\)\\: Unexpected token \"\\\\n     \", expected variable at offset 78$#"
			count: 1
			path: src/Http/Resources/UserRessource.php

		-
			message: "#^PHPDoc type array of property Seatplus\\\\Web\\\\Models\\\\ManualLocation\\:\\:\\$guarded is not covariant with PHPDoc type array\\<string\\>\\|bool of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$guarded\\.$#"
			count: 1
			path: src/Models/ManualLocation.php

		-
			message: "#^PHPDoc type array of property Seatplus\\\\Web\\\\Models\\\\Onboarding\\:\\:\\$guarded is not covariant with PHPDoc type array\\<string\\>\\|bool of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$guarded\\.$#"
			count: 1
			path: src/Models/Onboarding.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\CharacterAssetsHydrateBatch not found\\.$#"
			count: 1
			path: src/Services/Controller/CreateDispatchTransferObject.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\ContactHydrateBatch not found\\.$#"
			count: 1
			path: src/Services/Controller/CreateDispatchTransferObject.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\MailsHydrateBatch not found\\.$#"
			count: 1
			path: src/Services/Controller/CreateDispatchTransferObject.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\SkillsHydrateBatch not found\\.$#"
			count: 2
			path: src/Services/Controller/CreateDispatchTransferObject.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Character\\\\WalletHydrateBatch not found\\.$#"
			count: 1
			path: src/Services/Controller/CreateDispatchTransferObject.php

		-
			message: "#^Class Seatplus\\\\Eveapi\\\\Jobs\\\\Hydrate\\\\Corporation\\\\CorporationMemberTrackingHydrateBatch not found\\.$#"
			count: 1
			path: src/Services/Controller/CreateDispatchTransferObject.php

		-
			message: "#^Match expression does not handle remaining value\\: string$#"
			count: 1
			path: src/Services/Controller/CreateDispatchTransferObject.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 3
			path: src/Services/GetAffiliatedIds.php

		-
			message: "#^Access to an undefined property Seatplus\\\\Eveapi\\\\Models\\\\Character\\\\CharacterAffiliation\\:\\:\\$allince_id\\.$#"
			count: 1
			path: src/Services/GetEntityFromId.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Services/GetIdsFromNamesService.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$character_id\\.$#"
			count: 1
			path: src/Services/GetRecruitIdsService.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$characters\\.$#"
			count: 1
			path: src/Services/GetRecruitIdsService.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Services/Mails/EveMailService.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:filterByRegionIds\\(\\)\\.$#"
			count: 1
			path: src/Services/Query/LocationWatchListScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:filterBySystemIds\\(\\)\\.$#"
			count: 1
			path: src/Services/Query/LocationWatchListScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:filterByCategoryIds\\(\\)\\.$#"
			count: 1
			path: src/Services/Query/TypeWatchListScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:filterByGroupIds\\(\\)\\.$#"
			count: 1
			path: src/Services/Query/TypeWatchListScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:filterByTypeIds\\(\\)\\.$#"
			count: 1
			path: src/Services/Query/TypeWatchListScope.php

		-
			message: "#^Method Seatplus\\\\Web\\\\Services\\\\Sidebar\\\\SidebarEntries\\:\\:checkPermission\\(\\) is unused\\.$#"
			count: 1
			path: src/Services/Sidebar/SidebarEntries.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 3
			path: src/Services/Sidebar/SidebarPermissionChecker.php

		-
			message: "#^Match expression does not handle remaining value\\: mixed$#"
			count: 1
			path: src/Services/SsoSettings/UpdateOrCreateSsoSettings.php

		-
			message: "#^Access to property \\$user on an unknown class Seatplus\\\\Auth\\\\Services\\\\Dtos\\\\AffiliationsDto\\.$#"
			count: 3
			path: src/WebServiceProvider.php

		-
			message: "#^Call to static method make\\(\\) on an unknown class Seatplus\\\\Auth\\\\Services\\\\Affiliations\\\\GetAffiliatedIdsService\\.$#"
			count: 2
			path: src/WebServiceProvider.php

		-
			message: "#^Call to static method make\\(\\) on an unknown class Seatplus\\\\Auth\\\\Services\\\\Affiliations\\\\GetOwnedAffiliatedIdsService\\.$#"
			count: 2
			path: src/WebServiceProvider.php

		-
			message: "#^Parameter \\$affiliationsDto of anonymous function has invalid type Seatplus\\\\Auth\\\\Services\\\\Dtos\\\\AffiliationsDto\\.$#"
			count: 2
			path: src/WebServiceProvider.php
